* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
  font-size: 100%;
}

#root {
  position: relative;
  opacity: 0;
  overflow: hidden;
}

#root.app-loaded {
  opacity: 1;
  transition: opacity 1s ease;
}

#root:hover .control {
  opacity: 1;
}

#root #overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
  z-index: 2;
  transition: all 0.3s ease;
}

#root:hover #overlay {
  box-shadow: inset 50px 0px 30px -20px rgba(32, 32, 32, 0.5),
    inset -50px 0 30px -20px rgba(32, 32, 32, 0.5);
}

.control {
  opacity: 0;
  transition: all 0.3s ease;
  height: 100%;
  position: absolute;
  top: 0;
  width: 40px;
  cursor: pointer;
  z-index: 50;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(32, 32, 32, 0.8);
}

.control:hover .control-icon {
  transform: scale(1.2);
}

.control-icon {
  transition: transform 0.2s ease;
}

.control-left {
  left: 0;
}

.control-right {
  right: 0;
}

#root:hover > .control {
  opacity: 1;
}

#loading {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
}

#player {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#root.horizontal-transition #player {
  display: flex;
}

@keyframes marquee {
  0% {
    transform: translate(10%, 0);
  }
  100% {
    transform: translate(-100%, 0);
  }
}

.rss .ticker {
  display: inline-block;
  padding-left: 100%;
  text-indent: 0;
  white-space: nowrap;
  animation: marquee linear infinite;
}

#root:hover #pause-btn {
  opacity: 1;
}

#pause-btn:hover #pause-icon {
  transform: scale(1.2);
}

#pause-icon {
  transition: transform 0.2s ease;
}

#pause-btn {
  opacity: 0;
  transition: opacity 0.3s ease;
  position: absolute;
  bottom: 0;
  right: 50px;
  width: 40px;
  height: 40px;
  background: rgba(40, 40, 40, 0.8);
  cursor: pointer;
  display: flex;
  align-items: center;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
  justify-content: center;
}

video::-webkit-media-controls-panel,
video::-webkit-media-controls-current-time-display,
video::-webkit-media-controls-timeline-container,
video::-webkit-media-text-track-container,
video::-webkit-media-controls-fullscreen-button,
video::-webkit-media-controls-volume-slider,
video::-webkit-media-controls-mute-button {
  display: none;
}
